<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuck Norris Jokes</title>
    <link rel="stylesheet" href="style/main.css"> 

</head>
<body>
    <div class="worrk-place">
        <div class="upper">
            <h1>Chuck Norris Meme Generator</h1>
            <form action="/meme" method="get">
                <button type="submit">Random</button>
            </form>
        </div>
        <div class="lower">
            <img src="images/wpdp.jpg">
            <hr/>
            <h3><%= content %></h3>
        </div>
    </div>
</body>
</html>